@import "../../components/App/vars.scss";

.character-page__wrapper {
  margin: 2% auto;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .search {
    display: flex;
    margin-bottom: 3%;
    align-items: center;
    justify-content: center;
    text-align: center;

    .search__input {
      font-family: inherit;
      font-size: inherit;
      background-color: #f4f2f2;
      border: none;
      color: #646464;
      padding: 0.7rem 1rem;
      border-radius: 30px;
      width: 30vw;
      transition: all ease-in-out .5s;
      margin-right: -3rem;

      .search__input:hover,
      .search__input:focus {
        box-shadow: 0 0 1em #00000013;
      }

      .search__input:focus {
        outline: none;
        background-color: #f0eeee;
      }

      .search__input::-webkit-input-placeholder {
        font-weight: 100;
        color: #ccc;
      }

      .search__input:focus+.search__button {
        background-color: #f0eeee;
      }
    }

    .search__button {
      border: none;
      background-color: #f4f2f2;
      margin-top: .1em;

      &:hover {
        cursor: pointer;
      }

      .search__icon {
        height: 1.3em;
        width: 1.3em;
        fill: #b4b4b4;
      }
    }
  }

  .character-page__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .card {
      width: 170px;
      height: 220px;
      border-radius: 20px;
      background: #1a1a1a;
      position: relative;
      margin-bottom: 3%;
      border: 2px solid #c3c6ce;
      transition: 0.5s ease-out;
      overflow: visible;

      &:hover {
        border-color: $secondary-color;
        box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
      }

      &:hover .card-button {
        transform: translate(-50%, -280%);
        opacity: 1;
      }

      .card__inner {
        display: flex;
        flex-direction: column;
        height: inherit;

        .card-img {
          height: 80%;
          border-radius: 20px 20px 0 0;
        }

        .card-text {
          height: 20%;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .text-title {
          font-size: 1em;
          font-weight: bold;
          margin: 0;
        }
      }

      .card-button {
        transform: translate(-50%, 125%);
        width: 60%;
        cursor: pointer;
        border-radius: 1rem;
        border: none;
        background-color: $secondary-color;
        color: #fff;
        font-size: 1rem;
        padding: .5rem;
        position: absolute;
        left: 50%;
        bottom: 0;
        opacity: 0;
        transition: 0.3s ease-out;
      }
    }
  }
}